.App {
  text-align: center;
  display: flex;
  background-color: #282c34;
  color:white;
  position: absolute;
  top: 0;bottom: 0; left: 0; right: 0;
}

.sidemenu {
  width: 260px;
  padding: 10px;
  background-color: #202123;
}

.side-menu-button {
  cursor: pointer;
  padding: 12px;
  border: 1px solid white;
  border-radius: 5px;
  text-align: left;
}
.side-menu-button:hover{
  background-color: rgb(255, 255, 255, 0.1);
}

.side-menu-button span {
  padding-left: 6px;
  padding-right: 12px;
}

.chatbox {
  flex: 1;
  background-color: #343541;
  position: relative;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.chat-input-holder {
  padding: 12px;
  position: absolute;
  bottom: 0;
  left: 0; right: 0;
}

.chat-input-textarea {
  background-color: #40414f;
  color: white;
  font-size: 1.25em;
  width: 90%;
  padding: 12px;
  border-radius: 5px;
  border: none;
  outline: none;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0,25);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.chat-list {
  margin-top: 20px;
}

.chat-list-item {
  padding: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  cursor: pointer;
  transition: background-color 0.3s;
}

.chat-list-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.chat-log {
  text-align: left;
  overflow: auto;
  height: 100%; 
  padding: 0 12px; 
}

.chat-message.chatgpt {
  background-color: #444654;
}

.chat-message-center {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  padding: 12px;
  text-align: center;
  display: flex;
}

.avatar {
  background: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.avatar.chatgpt {
  background: #0da37f;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.message {
  padding-left: 40px;
  padding-right: 40px;
}

.markdown pre {
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  padding: 12px;
  overflow: auto;
  font-size: 14px;
  border-radius: 5px;
  margin: 10px 0;
}

.markdown code {
  background-color: #f4f4f4;
  padding: 3px 6px;
  font-family: Monaco, monospace;
  font-size: 14px;
  border-radius: 3px;
}

.close-button {
  color: #fff;
  background-color: #605c5b; /* Red color for the button */
  padding: 4px 8px;
  border-radius: 50%; /* Makes the button circular */
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
}

.close-button:hover {
  background-color: #834f4f; /* Darker red color on hover */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
